* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    background-color: #F5F5F5;
}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header {
    color: #666666;
    padding: 1em 0;
    border-bottom: 1px solid #666666;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;
}

nav ul li {
    display: inline;
    margin-right: 1em;
}

nav ul li a {
    color: #666666;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color:#008ECC;
}

.titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #F5F5F5;
}

#formLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 1rem;
    background-color: #E8F1F8 ;
    padding: 4rem;
    border-radius: 10px;
    width: 60%;
    max-width: 700px;
}

#formLogin label {
    color: #666666;
    background-color: #E8F1F8;
    font-size: 1.5rem;
}

#formLogin input {
    padding: 1rem;
    width: 80%;
    border-radius: 0.4rem;
    color: #000;
    background-color: #fafafa;
    border: none;
    
}

#formLogin .show {
    display: flex;
}

button {
    display: flex;
    font-size: 1.3rem;
    margin-top: 0.4rem;
    padding: 0.9rem 4.5rem;
    color: #1a2431;
    border-radius: 10px;
    border: none;
    margin-top: 2rem;
    background-color: #F3F9FB;
    border: 1px solid #008ECC;
    cursor: pointer;
}

button:hover {
    background-color: #008ECC;
    color: #F3F9FB;
}

/* #formLogin img {
    margin-left: 0.5rem;
}

#formLogin img:hover {
    cursor: pointer;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.btn a {
    text-decoration: none;
} */